*{box-sizing: border-box;}
*{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
* h1{color: #97bf04; text-align: center;}
* h2{color: #120323;text-align: left;}
* h3{color: #120323; text-align: left;}

#header-container{display:flex;flex-direction: column;align-items: center;}
header{background-color: #120323; padding: 1rem; display:flex;}
header img{width:100px; height:auto;}

#container{display: flex; flex-direction: column; align-items: center;}
main{ background-color: white; color: #120323;}
figure{color: #120323;}
figure img{border:3px #d9043d solid; width: 100%; height: auto;}
figcaption{text-align: left; color: #120323;}
aside{background-color: #97bf04; width: 100%; padding: 1rem;margin-top: 1rem;margin-bottom: 1rem;}

footer{background-color: #d9043d; color: white; text-align: center; width: 100%; padding: 1rem;margin-bottom: 1rem;}

/* This code does not work i need to rewrite aiuyegfpiugfpiu
*{box-sizing:border-box;}
*{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
* h1{color: #97bf04; text-align: center;}
* h2{color: #120323;text-align: left;}
* h3{color: #120323; text-align: left;}

header{ background-color: #120323; text-align: center; padding:1rem;flex: 1;}
#header-container{ display: flex; flex-direction: row;}
header img{width:100px; height: auto;}
#container{display: flex;flex-direction: column;align-items: center;}
main{ background-color: white; color: #120323;flex: 2;}
figure {color: #120323;}

figure figcaption{text-align: left;}
figure img{border: 3px #d9043d solid;width: 100%; height: auto;}
aside{ background-color: #97bf04; color: #120323; text-align: left; padding: 1rem; margin-top: 1rem; margin-bottom: 1rem;flex: 1;}
footer{ background-color: #d9043d; color: white;text-align: center;padding: 1rem;flex: 1;}
*/

/*MEDIUM SCREEN*//*
@media screen and (max-width:1000px) {
    #headercontainer
    header{flex-direction:column;}
  
    #container
    main{display:flex;flex-direction: row;justify-content: flex-start;flex: 2;}
    figure{display: flex;align-items: center;flex: 100%;}
    figure img{width: 300px;height: auto; flex-direction: column;}
    figure figcaption{flex-direction: column;}
    aside{width: 100%;flex: 100%;}

  }

/*THE BIG SCREEN*//*
 @media screen and (min-width:1000px) {
    #headercontainer
    header{flex-direction: column; justify-content: space-between;}
  
    #container
    main{display:flex;flex-direction: row;justify-content: flex-start;flex: 3;}
    figure{display: flex;align-items: center;flex:2;}
    figure img{width: 300px;height: auto;display: flex; flex-direction: column;}
    figure figcaption{flex-direction: column;}
    aside{width: 100%;flex-direction: column;flex: 1;}}


    /*TINY SCREEN*//*
  @media screen and (max-width:768px) {
    #headercontainer
    header{flex-direction: column; justify-content: space-between;}
  
    #container
    main{display:flex;flex-direction: column;flex: 1;}
    figure{align-items: center;}
    figure img{width: 100%;height: auto; flex-direction: column;}
    figure figcaption{flex-direction: column;}
    aside{width: 100%;}}
 


*/
